<form (ngSubmit)="search()">
  <label for="userName">User name:</label>
  <input type="text" name="userName" [(ngModel)]="userName">

  <select (change)="selectChangeHandler($event)">
    <option value="" selected>Escolha</option>
    <option value="nome">Nome</option>
    <option value="filme">Filme</option>
  </select>
  <button type="submit">Search</button>
</form>

<p>Tipo: {{selectedOption}}</p>
<ul *ngIf="response && selectedOption=='filme'">
  <!-- Usar um ? faz o angular perguntar se a resposta é válida. Se for inválida, não exibe -->
  <!-- {{response?.login}} -->
  <li>Filme: {{response.results[0].title}}</li>
  <li *ngFor="let personagem of personagens">Personagem: {{personagem}}</li>
</ul>

<ul *ngIf="selectedOption=='nome'">
  <!-- Usar um ? faz o angular perguntar se a resposta é válida. Se for inválida, não exibe -->
  <!-- {{response?.login}} -->
  <li *ngFor="let personagem of personagens">
    Nome: {{personagem}} <br>
    Lista de Filmes: <br>
      <ul>
        <li *ngFor="let filme of filmes">{{filme}}</li>
      </ul>
  </li>
</ul>