<form (ngSubmit)="search()">
  <label for="userName">User name:</label>
  <input type="text" name="userName" [(ngModel)]="userName">

  <select (change)="selectChangeHandler($event)">
    <option value="" selected>Escolha</option>
    <option value="nome">Nome</option>
    <option value="filme">Filme</option>
  </select>
  <button type="submit">Search</button>
</form>

<p>Tipo: {{selectedOption}}</p>
<ul *ngIf="response">
  <!-- Usar um ? faz o angular perguntar se a resposta é válida. Se for inválida, não exibe -->
  <!-- {{response?.login}} -->
  <li>Login name: {{response.login}}</li>
  <li>Repos: {{response.public_repos}}</li>
  <li>Gists: {{response.public_gists}}</li>
  <li>Followers: {{response.followers}}</li>
  <li>---</li>
  <li></li>
</ul>
